p {
    color: white;
}
h1 {
    color: rgb(36, 179, 36);
}
h2 {
    color: greenyellow;
}
body {
    background-color: black;
    border-radius: 10px;
}
#boletim {
    color: aqua;
    font-size: 50px;
}
#boleto {
    width: 500px;
    color: rgb(25, 211, 189);
    font-size: 500px;
    border: 1px solid black;
    border-radius: 10px;
}
#pregação {
    color: rgb(33, 195, 125);
    font-size: 40px;
}

